@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Datatype:wght@100..900&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Datatype', monospace;
	font-size: 1.3rem;
	font-weight: 400;
	background: url("../img/bg.jpg") no-repeat center center/cover;
	backdrop-filter: blur(32px);
}

a {
	color: #fff;
	text-decoration: none;
	text-align: center;
}

h1, h3, p {
	color: #fff;
}

.header {
	display: flex;
	font-size: 1.2rem;
	/* background: rgba(28, 45, 105, 0.5); */
	background: rgba(32, 32, 32, 0.5);
	padding: 1.2rem 0;
	align-items: center;
	justify-content: space-between;
	border-radius: 0 0 1rem 1rem;
}

.header img {
	height: 2rem;
	width: 1.5rem;
	filter: brightness(0) invert(1);
}

.logo {
	font-size: 2.5rem;
	font-weight: 700;
	margin-left: 2rem;
}

.logo a {
	color: green;
}


nav ul {
	display: flex;
	margin-right: 2rem;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	font-weight: 700;
	padding: 0 1.5rem;
}

.active {
	color: green;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}

.hero {
	height: 55vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.hero h1 {
	font-size: 3rem;
	margin-bottom: 2rem;
}

.hero h1 span {
	color: crimson;
}

img {
	width: 100%;
}

.card {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
	margin-bottom: 2rem;
	background: rgba(232, 97, 0, 0.5);
	border-radius: 2rem;
}

.card > div {
	padding: 2rem;
}

.card:nth-child(even) img {
	order: 2;
}

.card img {
	height: 450px;
}

.card h3 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.publish-date {
	font-size: 1.2rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

.btn {
	display: inline-block;
	text-transform: capitalize;
	background: green;
	padding: .8rem 1.5rem;
	margin-top: 2rem;
	cursor: pointer;
	transition: opacity .2s ease;
}

.btn:hover {
	opacity: .8;
}

.footer {
	font-size: 1rem;
	background: rgba(32, 32, 32, 0.5);
	padding: 1.5rem 0;
	color: #fff;
	text-align: center;
	text-transform: capitalize;
	border-radius: 1rem 1rem 0 0;
}

@media(max-width: 1080px) {
	.container {
		padding: 0 5%;
	}
}

@media(max-width: 700px) {
	body {
		font-size: 1.2rem;
	}

	.hero h1,
	.logo {
		font-size: 2rem;
	}

	.card {
		display: block;
	}
}