/* Person Styles */
.container {
	height: 84vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.person {
	max-width: 40%;
	margin-top: 7vh;
	/* margin-bottom: 3.2vh; */
	padding: 2rem;
}

.person h3 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.person p {
	margin-bottom: 1rem;
}

img {
	width: 25%;
	height: auto;
	border-radius: 50%;
}