.hero {
	text-align: center;
	margin: 10rem 0;
}

/* Card Styles */
.card {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
	margin-bottom: 32px;

	/* Liquid glass background adjustment */
	background: rgba(232, 97, 0, 0.2);
}

.card > div {
	padding: 2rem;
	padding-left: 1rem;
}

.card:nth-child(even) img {
	order: 2;
}

.card h3 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

.card div span {
	color: #0cdffa;
}

.publish-date {
	font-size: 1.2rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

.card img {
	width: 100%;
	height: 100%;
	border-radius: 16px;
	/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
	/* border: 1px solid rgba(0, 0, 0, 0.3); */
	object-fit: cover;
	object-position: 50% 50%;
}

.turn-page {
	display: flex;
	justify-content: space-around;
	margin-bottom: 2rem;
}

@media screen and (max-width: 1000px) {
	.hero {
		margin: 30px;
	}

	.card {
		display: flex;
		flex-direction: column;
	}
	
	.card:nth-child(even) img {
		order: 0;
	}

	img {
		width: 30%;
		align-self: center;
	}
}